.board-container {
	max-width: 620px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.board {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(6, 1fr);
	padding: 8px 0;
	li {
		position: relative;
		height: 60px;
		width: 60px;
		display: grid;
		align-items: center;
		box-sizing: border-box;
		button {
			position: relative;
			height: 100%;
			width: 100%;
			padding: 3px 5px;
			background: none;
			border: none;
			font-size: 28px;
		}
		&.__selected {
			button {
				display: grid;
				align-content: center;
				font-size: 35px;
				color: #5b476d;
				grid-template-columns: repeat(2, 1fr);
				gap: 5px;
				> * {
					position: relative;
					top: -2px;
				}
			}
		}
		&:not(.__disabled) {
			&.__highlighted {
				cursor: pointer;
			}
			&:focus {
				outline: none;
			}
			&:focus-visible,
			&:hover {
				box-shadow: 0 0 7px var(--focused_dark);
				@supports not (-moz-appearance: none) {
					animation: glow 1s infinite;
				}
				button {
					position: relative;
					color: var(--focused);
					cursor: pointer;
					border: 2px solid var(--focused);
					box-shadow: 0 0 7px var(--focused_dark);
					@supports not (-moz-appearance: none) {
						animation: glow 1s infinite;
					}
					&::after {
						content: "";
						position: absolute;
						height: calc(100% - 8px);
						width: calc(100% - 10px);
						top: 3px;
						left: 4px;
						background: transparent;
						border: 1px solid var(--focused);
						box-shadow: 0 0 7px var(--focused_dark);
					}
				}
			}
		}
		&.__highlighted {
			&::before {
				content: "";
				position: absolute;
				display: block;
				height: inherit;
				width: inherit;
				left: 0;
				background-color: var(--highlighted) !important;
				pointer-events: none;
				z-index: -1;
			}
			&.__x {
				&::before {
					transform-origin: center;
					transform: scaleX(2000%);
				}
			}
			&.__y {
				&::before {
					transform-origin: center;
					transform: scaleY(2000%);
				}
			}
		}
		&:hover {
			background-color: transparent;
			&:not(.__disabled) {
				&::after {
					content: "";
					position: absolute;
					display: block;
					height: inherit;
					width: inherit;
					left: 0;
					background-color: var(--next);
					pointer-events: none;
					z-index: -2;
				}
				&.__x {
					&::after {
						transform-origin: center;
						transform: scaleY(2000%);
					}
				}
				&.__y {
					&::after {
						transform-origin: center;
						transform: scaleX(2000%);
					}
				}
			}
		}
	}
}

.__footer {
	display: flex;
	justify-content: space-between;
	> * {
		display: grid;
		img {
			height: 60px;
		}
		&:first-child {
			flex-grow: 5;
			justify-content: flex-start;
		}
		&:nth-child(2) {
			flex-grow: 1;
			justify-content: center;
		}
		&:nth-child(3) {
			flex-grow: 2;
			justify-content: center;
		}
		&:nth-child(4) {
			flex-grow: 1;
			justify-content: flex-end;
		}
	}
}
