.time-limit {
	width: 100%;
	box-sizing: border-box;
	padding: 5px 0;
	header {
		color: darken(#d2ed60, 40%);
		font-size: 5.4px;
		border-bottom: 1px solid darken(#d2ed60, 40%);
	}
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 30px;
		padding: 10px 0;
		.timer {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 50px;
			width: 100px;
			background-color: #2a2822;
			border: 2px solid var(--primary);
		}
	}
}
