.sequences-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	padding: 10px 20px;
	margin-bottom: 50px;
	box-sizing: border-box;
	.sequence {
		display: flex;
		gap: 10px;
		li {
			position: relative;
			display: grid;
			align-items: center;
			padding: 3px;
			box-sizing: border-box;
			border: 2px solid transparent;
			color: var(--white);
			&.__focused {
				border-color: var(--focused);
				box-shadow: 0 0 7px var(--focused);
				color: var(--focused);
				@supports not (-moz-appearance: none) {
					animation: glow 1s infinite;
				}
			}
			&.__matched {
				border-color: var(--primary);
				color: var(--primary);
			}

			&.__highlighted {
				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					height: 55px;
					width: 100%;
					background-color: #201e33;
					z-index: -1;
				}
			}
		}
		span {
			display: inline-grid;
			height: 30px;
			width: 30px;
			font-size: 27px;
			align-items: center;
			justify-items: center;
		}
		// li {
		// 	display: grid;
		// 	justify-content: center;
		// 	height: 60px;
		// 	width: 35px;
		// 	color: var(--white);
		// 	text-align: center;
		// 	span {
		// 		display: grid;
		// 		align-content: center;
		// 		height: 30px;
		// 		width: inherit;
		// 		box-sizing: border-box;
		// 	}
		// 	&.__highlighted {
		// 		background-color: #201e33;
		// 	}
		// 	&.__focused {
		// 		span {
		// 			border: 1px solid var(--focused);
		// 			box-shadow: 0 0 7px var(--focused);
		// 			@supports not (-moz-appearance: none) {
		// 				animation: glow 1s infinite;
		// 			}
		// 		}
		// 	}
		// 	&.__matched {
		// 		color: var(--primary);
		// 	}
		// }
	}
}
.sequences-container__footer {
	display: flex;
	justify-content: space-between;
	> * {
		display: grid;
		&:first-child {
			padding-top: 10px;
			font-size: 8px;
		}
		&:last-child {
			> img {
				height: 40px;
			}
			justify-content: flex-end;
		}
	}
}
