@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

:root {
	--primary: #d2ed60;
	--primary-dark: #3e4325;
	--bg: #191620;
	--white: #f7f7f7;
	--highlighted: #323544;
	--focused: #64dde7;
	--focused_dark: #4b9ea5;
	--next: #262821;
	--success: #24d982;
	--success_secondary: #1b2e24;
	--danger: #ff615c;
	--danger_secondary: #340b0c;

	background-color: var(--bg);
	color: var(--primary);
	font-family: "Rajdhani", sans-serif;
	button {
		color: var(--primary);
		font-family: "Rajdhani", sans-serif;
	}
}

.main {
	height: 100vh;
	.grid {
		display: flex;
		gap: 20px;
		> * {
			display: flex;
			flex-basis: 50%;
			&:first-child {
				display: flex;
				justify-content: flex-end;
				min-width: 600px;
				flex-grow: 1;
				padding-right: 5px;
				padding-left: 20px;
			}
			&:last-child {
				flex-grow: 1;
				padding-left: 5px;
				padding-right: 20px;
			}
		}
	}
}

.header {
	background-color: #2c2a23;
	border-top: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
	margin-top: 10px;
	margin-bottom: 30px;
}

.main-header {
	display: block;
	padding-top: 20px;
	padding-bottom: 10px;
	box-sizing: border-box;
	h1 {
		font-size: 35px;
		display: grid;
		align-self: end;
	}
}

.main-footer {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	color: var(--bg);
	background-color: var(--primary);
	border-top: 1px solid var(--primary);
	clip-path: polygon(20px -1px, 100% -1px, 100% 100%, 0 100%, 0 20px);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.btn {
	cursor: pointer;
	position: relative;
	min-width: 250px;
	height: 50px;
	border: none;
	background-color: var(--primary);
	font-size: 25px;
	letter-spacing: 2px;
	text-align: left;
	box-sizing: border-box;
	padding: 0 0 10px 15px;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 20px) 100%, 0 100%);
	span {
		mix-blend-mode: difference;
	}
	&::before {
		content: "";
		position: absolute;
		top: 1px;
		left: 1px;
		height: calc(100% - 2px);
		width: calc(100% - 2px);
		background-color: var(--bg);
		transition: 0.1s;
		transition-timing-function: ease-out;
		pointer-events: none;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 20px) 100%, 0 100%);
	}
	&:hover,
	&:active {
		&::before {
			width: 0;
		}
	}
}

@keyframes glow {
	0% {
		box-shadow: 0 0 10px var(--focused);
	}
	50% {
		box-shadow: 0 0 15px var(--focused);
	}
	100% {
		box-shadow: 0 0 10px var(--focused);
	}
}

@keyframes shine {
	50% {
		border: 2x solid var(--focused);
		color: var(--focused);
		background-color: var(--focused);
	}
}
